body {

	background: url(../images/pup2.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	font-family: Arial;
	height: 95%;
	position: relative;

}


nav {
	font-size: 22px;
	padding: 30px;
	margin: 25px, 50px, 25px, 50px;

}


header {
	text-align: center;
}

a {
	padding: 10px;
	text-decoration: none;
	color: #ffffff;
}

p {
	font-size: 14px;
	color: #434343;
}

h1 {
	font-size: 42px;
	color: #11E9D9;
	padding-top: 20px;
	padding-right: 45px;
	padding-left: 45px;
	padding-bottom: 20px;
	display: inline;
}

h3 {
	font-size: 24px;
	color: #FF6600
}

footer {
	position: fixed;
	left: 0px;
	bottom: 0px;
	height: 60px;
	text-align: center;
	background-color: #11E9D9;
	width: 100%;
	font-size: 18px
}

.textblock {
	background-color: rgba(255, 255, 255, 0.5);
	margin: 10px 500px 20px 500px;
	width: 40%;
	padding-top: 20px;
	padding-right: 40px;
	padding-bottom: 20px;
	padding-left: 40px;
}

#facts {
	color: #11E9D9;
	margin: 15px;
	font-size: 16px;
}
