@import url(https://fonts.googleapis.com/css?family=Dosis:400,200,300,500,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);

body {

	background: url(../images/pup4.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	font-family: Arial;
	height: 95%;
	position: relative;

}


nav {
	font-size: 22px;
	padding: 30px;
	margin: 25px, 50px, 25px, 50px;
	background-color: #ffffff;
	vertical-align: middle;

}


header {
	text-align: center;
	vertical-align: middle;
}

a {
	padding: 10px;
	text-decoration: none;
	color: #EDA130;
}

p {
	font-family: 'Roboto Slab', serif;
	font-size: 14px;
	color: #051a2f;
}

h1 {
	font-family: 'Dosis', sans-serif;
	font-size: 42px;
	color: #2288E9;
	padding-top: 20px;
	padding-right: 45px;
	padding-left: 45px;
	padding-bottom: 20px;
	display: inline;
}

h2 {
	font-size: 18px;
	color: #051a2f;
}

h3 {
	font-size: 24px;
	color: #051a2f;
}

footer {
	position: fixed;
	left: 0px;
	bottom: 0px;
	height: 60px;
	text-align: center;
	background-color: #146ec4;
	width: 100%;
	font-size: 18px;
	padding-top: 30px;

}

.textblock {
	background-color: rgba(255, 255, 255, 0.5);
	margin: 10px 500px 20px 500px;
	width: 40%;
	padding-top: 20px;
	padding-right: 40px;
	padding-bottom: 20px;
	padding-left: 40px;
}

.clickme {
	color: #FFFFFF;
	background-color: #EDA130;
	padding: 15px;
	margin: 15px 270px 15px 270px;
	text-align: center;
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 1px;
}

#facts {
	font-family: 'Roboto Slab', serif;
	color: #2288E9;
	margin: 15px;
	font-size: 16px;
	line-height: 1.5em;
}
