body {

	background: url(../images/pup1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	font-family: Arial;
	height: 95%;
	position: relative;

}


nav {
	font-size: 22px;
	padding: 30px;
	margin: 25px, 50px, 25px, 50px;

}

a {
	padding: 10px;
	text-decoration: none;
	color: #ffffff;
}

p {
	font-size: 18px;
	color: #ffffff;
}

h1 {
	font-size: 42px;
	color: #ffffff;
	padding-top: 20px;
	padding-right: 45px;
	padding-left: 45px;
	padding-bottom: 20px;
	display: inline;
}


header {
	text-align: center;
}

footer {
	position: fixed;
	left: 0px;
	bottom: 0px;
	height: 60px;
	text-align: center;
	background-color: #FF6600;
	width: 100%;
}

.textblock {
	background-color: rgba(255, 255, 255, 0.3);
	margin: 60px;
	width: 40%;
	padding-top: 20px;
	padding-right: 50px;
	padding-bottom: 20px;
	padding-left: 50px;
}

#facts {
	color: #248F8F;
	margin: 15px;
}
