@import url(https://fonts.googleapis.com/css?family=Dosis:400,200,300,500,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);

body {

	background: url(../images/pup4.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	font-family: Arial;
	height: 95%;
	position: relative;
}


nav {
	font-family: 'Dosis';
	font-size: 2em;
	text-transform: uppercase;
	padding: 1%;
	display: block;
}

header {
	text-align: center;
	vertical-align: middle;
	background-color: #ffffff;
	width: 100%;
}

a {
	padding: 2%;
	text-decoration: none;
	color: #EDA130;
}

p {
	font-family: 'Roboto Slab', serif;
	font-size: 1em;
	color: #051a2f;
}

h1 {
	font-family: 'Roboto Slab', sans-serif;
	font-size: 3em;
	color: #2288E9;
	padding-top: 5%;
	padding-right: 2%;
	padding-left: 2%;
	padding-bottom: 5%;
	display: inline;
}

h2 {
	font-family: 'Roboto Slab';
	text-transform: uppercase;
	font-size: 1.5em;
	color: #051a2f;
}

h3 {
	font-family: 'Roboto Slab';
	font-size: 1em;
	color: #051a2f;
}

h4 {
	font-family: 'Roboto Slab';
	font-size: 1.1em;
	color: #ffffff;
	letter-spacing: .1em;
}

#two_col {
	background-color: rgba(255, 255, 255, 0.5);
	margin: 3% 6% 3% 6%;
	padding: 3%;
	width: 80%;
}

#left {
	background-color: #EDA130;
	padding: 1%;
	float: left;
	width: 30%
}

#right {
	background-color: #2288E9;
	padding: 1%;
	float: right;
	width: 65%;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

footer {
	position: fixed;
	left: 0px;
	bottom: 0px;
	height: 15%;
	text-align: center;
	background-color: #146ec4;
	width: 100%;
	font-size: 1.25em;
	padding-top: 2%;

}

.textblock {
	background-color: rgba(255, 255, 255, 0.5);
	margin: auto;
	padding: 3%;
	width: 80%;
}


#facts {
	font-family: 'Roboto Slab', serif;
	color: #2288E9;
	margin: 2%;
	font-size: 1.2em;
	line-height: 1.5em;
}

h5 {
	font-family: 'Roboto Slab', sans-serif;
	font-size: 1.3em;
	color: #ffffff;
}

h6 {
	font-family: 'Roboto Slab', sans-serif;
	font-size: 1.3em;
	color: ##2288e9;
}

@media only screen and (min-width: 801px) {
	#mobile {
		display: none;
	}
	.mobile-text {
		display: none;
	}

	.mobile-dogs {
		display: none;
	}

	.mobile-footer {
		display: none;
	}

	.mobile-about {
		display: none;
	}
}

@media only screen and (max-width: 800px) {
	body {
	background: url(../images/pup4_sm.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
	position: relative;
	}

	h3 {
		font-size: 2em;
	}

	h4 {
		font-size: 1em;
		line-height: .5em;
	}

	#two_col {
	background-color: rgba(255, 255, 255, 0.5);
	margin: 1% auto;
	padding: 3%;
	width: 80%;
	}

	#left {
	background-color: #EDA130;
	padding: 2%;
	margin-bottom: 1%;
	width: 95%;
	float: none;
	}

	#right {
	background-color: #2288E9;
	padding: 2%;
	width: 95%;
	float: none;
	}

	footer {
	display: none;
	}

	#mobile {
		display: none;
	}
	.mobile-text {
		display: none;
	}

	.mobile-dogs {
		display: none;
	}

	.mobile-footer {
		display: none;
	}

	.mobile-about {
		display: none;
	}
}


@media only screen and (max-width: 590px) {
	#mobile-header {
		display: none;
	}
	.textblock {
	display: none;
	}
	body {
		background: #051a2f; 
	}

	#two_col {
	display: none;
	}	
	footer {
		display: none;
	}
	.mobile-text {
		background-color: #EDA130;
		margin: auto;
		padding: 1%;
		text-align: center;
		line-height: 4px;
	}
	.mobile-dogs {
		background-color: #ffffff;
		margin: auto;
		padding: 2px 2px 20px 2px;
		text-align: center;
		line-height: 1%;
	}

	.mobile-footer {

	}
}
