body {
	background: url(https://github.com/eklamm/eklamm.github.io/blob/master/unit_3/images/pup1.jpg?raw=true);
	background-size: cover;
	background-repeat: no-repeat;
	font-family: Arial;
	color: #ffffff

}

#slogan{
	font-weight: heavy;
	font-size: 26px;
	font-style: italic;
}

a {
	color: #000000
}

p {
	font-size: 18px
}

h1 {
	font-size: 42px
}
