body {
	background: url(../images/pup1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	font-family: Arial;
	color: #ffffff
	height: 100%;
	position: relative;

}

#slogan{
	font-size: 20px;
	font-style: italic;
	padding: 5px
}

a {
	color: #ffffff
}

p {
	font-size: 18px
}

h1 {
	font-size: 42px
}

nav {
	font-size: 12px
}

header {
	text-align: center
}

footer {
	position: absolute;
	bottom: 20px;
}
